
*,
*::before,
*::after {
  box-sizing: border-box;
}

.center-text {
  text-align: center;
}

.side-by-side {
  width: 45%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  float: left;
}


.full-width {
  width: 100%;
  margin-top: 20px; 
}


.side-by-side h3 {
  border: 1px solid red;
  border-radius: 15px;
  font-weight: 500;
}

.side-by-side ol,
.side-by-side ul {
  border: 1px dashed red;
  border-radius: 15px;
  padding: 10px;
  list-style: inside upper-roman;
}


.side-by-side a:hover {
  text-decoration: underline;
}


.float-right {
  float: right;
  margin-bottom: 20px;
}
